name: Build, Test, Coverage, Docker and Fly Deploy
on:
  push:
    branches:
      - main

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node 19 
        uses: actions/setup-node@v1
        with:
          node-version: 19 

      - name: Install dependencies 
        run: yarn 

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test:coverage

      - name: Coverage 
        run: npx codecov -f coverage/*.json 

      - name: Docker Build
        uses: docker/build-push-action@v4
        with:
          push: false 

      - name: Setup Fly
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy
        run: flyctl deploy --remote-only
